.card{
    border: 1px solid #DBDBDB;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    justify-content: center;

}
.card small{
    color : #858585;
}
.card img{
    width: 150px;
}
.text h1{
    color: #013177;
}
.text small {
    padding-bottom: 0px !important;
}
.text p{
    margin-top: 0px !important;
}
.card button {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid #013177;
    border-radius: 7px;
}
.cardarea{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media only screen and (max-width: 900px) {
    .cardarea{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 600px) {
    .cardarea{
        grid-template-columns: auto;
    }
}